{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<div class="container my-3">  
    <h2>Search Results</h2>
    {% if allPosts or length < 1 %}
    <p>No search results! </p>

    Your search query: <b>{{query}}</b> - did not match any documents.
    Suggestions:
    Try different keywords.


    {% endif %}
    {% for post in allPosts %}

    <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative"> 
        <div class="col p-4 d-flex flex-column position-static"> <strong class="d-inline-block mb-2 text-primary-emphasis">Artice by {{post.author}}</strong> 
            <h3 class="mb-0">{{post.title}}</h3> 
        <div class="mb-1 text-body-secondary">{{post.datetime}}</div> 
        <p class="card-text mb-auto">{{post.content | truncatechars:100}}</p> <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
    <div class="my-2">
          <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">continue reading</a>
    </div>
          
{% comment %} <svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg> </a> </div> <div class="col-auto d-none d-lg-block"> <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img " height="250" preserveAspectRatio="xMidYMid slice" role="img" width="200" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> </div> </div> {% endcomment %}
</div>
</div>


{% endfor %}

{% endblock body %}